<h1>Внесенные записи</h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Дата внесения</th>
      <th>Горячая вода</th>
      <th>Холодная вода</th>
    </tr>
  </thead>
 <tbody>
<%= render @waters %>
 </tbody>
</table>

