<h1>Лидеры горячей воды этого месяца</h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Дата внесения</th>
      <th>Горячая вода</th>
      <th>Холодная вода</th>
      <th>Полный список вносимых данных</th>
    </tr>
  </thead>
 <tbody>
<%= render @waters_hot %>
 </tbody>
</table>

